<header class="main-header">
        <div id="user-role-status" class="user-role-status"></div>
        <nav class="container main-nav">
            <a href="/" class="nav-logo">
                <img src="resources/images/logo.png" alt="Sword Emporium Logo" class="logo-image">
                <span>Sword Emporium</span>
            </a>
            <div class="nav-links">
                <a href="/">Beranda</a>
                <a href="/products">Produk</a>
                <a href="/contact">Kontak</a>

            </div>
        </nav>
    </header>